@page
@model BlogSystem.Pages.CreateBlogModel
@{
}

<form method="post">
    <div>
        <label asp-for="Blog.Title"></label>
        <input asp-for="Blog.Title" />
        <span asp-validation-for="Blog.Title"></span>
    </div>
    <div>
        <label asp-for="Blog.Author.GivenName"></label>
        <select asp-for="Blog.Author.GivenName" asp-items="Model.AuthorList"></select>
        <span asp-validation-for="Blog.Author.GivenName"></span>

    </div>
    <input type="submit" value="Submit" />
</form>